<style>
.modal-title {
    margin: 0 0 50px 0;
    font-size: 45px;
    letter-spacing: -0.02em;
    line-height: 52px;
}
</style>
<div class="row">
  <div class="col-lg-4 videoinfo">
    <h1 class="modal-title" id="upload_title"><%=@statement.title %></h1>
    <h4>Share this video:</h4>
        <div class="addthis_sharing_toolbox"></div>
    <h5>Create your own:</h5>
    <a class="btn btn-lg btn-info pull-left main-cta" href="/statements/new">Share your story</a>
  </div>
  <div class="col-lg-8">
    <% unless @statement.youtube_embed_url.blank? %>
    <iframe width="640" 
            height="480" 
            class='large-video-frame'       
            src="<%=@statement.youtube_embed_url%>?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0">
    </iframe>
    <% end %>
  </div>
</div>

<% content_for :share_metadata do %>
  <meta property="og:type" content="video.other">
  <meta property="og:description" content="<%= @statement.title %>">
  <meta property="og:video:width" content="640">
  <meta property="og:video:height" content="480">
  <meta property="og:image" content="<%= @statement.youtube_video_card_url %>">
  <meta property="og:video:url" content="<%= @statement.youtube_url.gsub('https://', 'http://') %>">
  <meta property="og:video:secure_url" content="<%= @statement.youtube_url.gsub('http://', 'https://') %>">
  
  <meta name="twitter:card" content="player">
  <meta name="twitter:site" content="@lessig2016">
  <meta name="twitter:title" content="Fix Democracy First">
  <meta name="twitter:description" content="<%= @statement.title %>">
  <meta name="twitter:image" content="<%= @statement.youtube_video_card_url %>">
  <meta name="twitter:player" content="<%= @statement.youtube_embed_url %>">
  <meta name="twitter:player:width" content="640">
  <meta name="twitter:player:height" content="480">
  <meta name="twitter:player:stream" content="<%= @statement.youtube_url %>">
  <meta name="twitter:player:stream:content_type" content="application/x-shockwave-flash">
<% end %>