<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<div class="well bs-component col-lg-6">
  <p>
    <strong>Title:</strong>
    <%= @statement.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= raw(sanitize(@statement.description, tags: SUPPORTED_HTML_TAGS)) %>
  </p>

  <p>
    <strong>Submitting User:</strong>
    <%= @statement.user_name %>
  </p>

  <p>
    <strong>Video URL:</strong>
    <%= @statement.youtube_url %>
  </p>
    
  <ul class="pager">
  	<li class="next"><%= link_to 'Edit →', edit_statement_path(@statement) %></li>
  </ul>

  <%= render 'modal', 
    modal_id: "beverly", 
    modal_title: "Share Video or Audio", 
    modal_description: "By sharing your content with us, you grant us permission to share it with others.", 
    include_candidate_and_event_fields: true,
    steps: {
      1 => "Step 1: Tell us about yourself",
      2 => "Step 2: Tell us what you're sharing",
      3 => "Step 3: Select the video (or audio) file" },
    notes_placeholder: 'Please share any additional info about your submission' %>

</div>